/* Header Styling */
.top-text {
  text-align: center;
  background-color: #a40000;
  color: white;
  width: 100%;
  margin-top: -8px;
  margin-left: -8px;
  padding: 5px;
}

/* Add Event Button Styling */
.add-event {
  background-color: white;
  border: 1px solid #3174ad;
  color: #3174ad;
  font-size: 25px;
  padding: 6px 10px;
}

.add-event:hover {
 transform: scale(1.2);
}

.add-event:active {
  background-color: #428ccc;
  color: white;
  opacity: 100%;
}

.add-btn:hover, .close-btn:hover {
  opacity: 80%;
  transform: scale(1.1);
}

.add-btn:active, .close-btn:active {
  opacity: 60%;
}

.open-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

/* Close button styling */
.close-btn, .add-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #3174ad;
  margin: 0  0 10px 0;
}

/* Add button */
.btn-container {
  display: flex;
  justify-content: space-between;
  
}

/* Modal container */
.modal-container {
  display: flex;
  flex-direction: column;
}

input {
  margin: 20px 10px;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 20px;
  width: 250px;
  font-size: 17px;
}

.modal-h1 {
  text-align: center;
  margin-top: 10px;
  padding-top: 0;
  font-size: 20px;
}

.delete-btn {
  background-color: white;
  border: 1px solid red;
  color: red;
  padding: 5px 20px;
  font-size: 20px ;
}

.delete-btn:hover {
  opacity: 70%;
  transform: scale(1.1);
}

.delete-btn:active {
  background-color: red;
  color: white;
}
