/* Header Styling */
.top-text {
  text-align: center;
  background-color: #a40000;
  color: white;
  width: 100%;
  margin-top: -8px;
  margin-left: -8px;
  padding: 5px;
}

/* Add Event Button Styling */
.add-event {
  background-color: #3174ad;
  border: 1px solid lightgray;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 3px 5px;
}

.add-event:hover, .add-btn:hover, .close-btn:hover {
  background-color: #428ccc;
}

.open-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

/* Close button styling */
.close-btn, .add-btn {
  background-color:#3174ad;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  bottom: 0;
}

.close-btn {
  margin-top: 0px;
  padding-top: 0;
}

/* Add button */
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Modal container */
.modal-container {
  display: flex;
  flex-direction: column;
}

input {
  margin: 15px;
  border: 1px solid lightgray;
  height: 20px;
  width: 250px;
}

input:hover {
  border: 1px solid #3174ad;
}

.modal-h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
